* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    z-index: 1000;
}

.logo h2 {
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    transition: .3s;
}

.nav-links a:hover {
    background: #2563eb;
}

.menu-btn {
    display: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}
