/* Laptop */

@media(max-width:1200px) {

    .dashboard {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* Tablet */

@media(max-width:992px) {

    .dashboard {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero h1 {
        font-size: 40px;
    }

}

/* Mobile */

@media(max-width:768px) {

    .navbar {
        flex-wrap: wrap;
    }

    .menu-btn {
        display: block;
    }

    .nav-links {

        display: none;

        width: 100%;

        flex-direction: column;

        text-align: center;

        margin-top: 20px;

    }

    .nav-links.active {

        display: flex;

    }

    .nav-links li {

        padding: 12px;

        border-top: 1px solid rgba(255, 255, 255, .3);

    }

}
