/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f5f7fb;
    color: #333;
}


/* Hero Section */

.hero {
    text-align: center;
    padding: 100px 20px;
    /* background:linear-gradient(135deg,#151081,#093085);
    color:#fff; */

    background: linear-gradient(135deg, #2563eb, #3b82f6, #60a5fa);
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.8;
}

/* Hero Section */
.hero-buttons {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.hero-buttons a {
    text-decoration: none;
    background: white;
    color: #2563eb;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: 600;
    transition: .3s;
}

.hero-buttons a:hover {
    background: #111827;
    color: white;
    transform: translateY(-3px);
}

/* Dashboard */

.dashboard {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}


/* Cards */

.card {
    background: white;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .15);
}

.card h2 {
    margin-bottom: 15px;
    color: #021d55;
}

.card p {
    margin-bottom: 20px;
    color: #666;
}

.card a {
    display: inline-block;
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    transition: .3s;
}

.card a:hover {
    background: #1d4ed8;
}

/* Footer */

footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
}

footer p {
    margin: 5px 0;
}


/*user.html styles*/
.controls {

    width: 90%;
    margin: 40px auto;

    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

}

.controls input,
.controls select {

    padding: 12px;
    width: 250px;

    border: 1px solid #ddd;
    border-radius: 8px;

    font-size: 16px;

    outline: none;

}

/* extra css of  products */
.product {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.product img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.product h3 {
    margin: 10px 0;
}
